@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("fonts/OpenSans-Bold.woff");
  font-weight: bold;
  font-style: normal;
}
 html {
    font-size: 62.5%;
  }

@media  (max-width:640px){
    
  body {
    display: flex;
    flex-direction:column;
      
    margin:auto;
    }

  .header {
    position: relative;
    z-index: 0;
    background-image: url("img/football_767.jpg");
    background-color: black;
    background-repeat: no-repeat;
  	background-position: center center;
    background-size: cover;
  }

  .header:after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
    z-index: 1;
    
    opacity: 0.9;
  }

  .header_container {
    position: relative;
    z-index:2;
    
    display:flex;
    flex-direction:column;
    
    padding-bottom: 14%;
  }

  .header_logo {
    width: 135px;
    height: 35px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:125px;
    fill:#ffffff;
  }

  .header_text {  
    font-size:8.75vw;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:white;
    
    display: flex;
    flex-direction:column;
  }

  .header_text_first {
    margin-left: 6.25vw;
  }

  .header_text_second {
    margin-left: 20vw;
    margin-top: 2.68%;
    text-align: left;
  }

  .button_apple {
    display: flex;
    justify-content: center;
    align-items:center;
    
    width: 280px;
    height: 35px;
    
    margin-top:80px;
    margin-left: auto;
    margin-right: auto;
    
    font-size:8px;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:white;
    
    background-color: #5e42b0;
    border-radius:40px;
  }

  a {
    text-decoration:none;
  }

  .button_logo_apple {
    width: 25px;
    height: 25px;
    fill:#ffffff;
  }

  .button_text_apple {
    width:8.5rem;
    
    margin-left: 8px;
  }

  .bold {
    font-size:8px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:white;
  }

  .button_google {
    display: flex;
    align-items:center;
    
    width:280px;
    height:35px;
    
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    
    font-size:8px;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:white;
    
    background-color: #5e42b0;
    border-radius:40px;
  }

  .button_logo_google {
    width: 24px;
    height: 24px;
    
    margin-left:83px;
    
    fill:#ffffff;
  }

  .button_text_google {
    width:65px;
    
    margin-left: 8px;
  }

  .news {
    display: flex;
    flex-direction:column;
  }

    
  h2 {
    height:306px;
    
    font-size:5rem;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:#e7e7e7;
    
    margin-left: 20px;
    margin-top:15px;
    margin-bottom:0px;
  }

  .connection {
    height:213px;
    background-color: #fafafa;
  }

  .connection_title {
    display: flex;
    
    padding-top:60px;
  }

  .connection_title_number {
    height: 18px;
    
    font-size: 14px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:black;
    
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: solid #5e42b0;
  }

  h3 {
    font-size:23px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:#c1c1c1;
    margin-top: 15px;
    margin-left:8px;
    margin-bottom:0px;
  }

  .connection_text {
    font-size:15px;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
  }

  .collaboration {
    height:260px;
    background-color: #f5f4f9;
  }

  .collaboration_title {
    display: flex;
    
    padding-top:50px;
  }

  .collaboration_title_number {
    height: 18px;
    
    font-size: 14px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:black;
    
    margin-top:20px;
    margin-left: 20px;
    border-bottom: solid #5e42b0;
  }

  .collaboration_text {
    font-size:15px;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
  }

  .growth {
    height:228px;
    background-color: #5e42b0;
  }

  .growth_title {
    display: flex;
    
    padding-top:30px;
  }

  .growth_title_number {
    height: 18px;
    
    font-size: 14px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color: black;
    
    margin-top:20px;
    margin-left: 20px;
    border-bottom: solid #ffffff;
  }

  .growth_text {
    font-size:15px;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#ffffff;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
  }

  .athlets_img {
    position: absolute;
    left: 0;
    right: 0;  
    
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  .players_img {
    position: absolute;
    left: 0;
    right: 0;  

    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  .players_connection {
    height:250px;
    background-color: #fafafa;
  }

  .players_connection_title {
    display: flex;
    
    padding-top:60px;
  }

  .players_connection_title_number {
    height: 18px;
    
    font-size: 14px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:black;
    
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: solid #5e42b0;
  }

  .players_connection_text {
    font-size:15px;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 18px;
  }

  .players_collaboration {
    height:190px;
    background-color: #f5f4f9;
  }

  .players_collaboration_title {
    display: flex;
    
    padding-top:40px;
  }

  .players_collaboration_title_number {
    height: 18px;
    
    font-size: 14px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:black;
    
    margin-top:20px;
    margin-left: 20px;
    border-bottom: solid #5e42b0;
  }

  .players_collaboration_text {
    font-size:15px;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
  }

  .players_growth {
    height:190px;
    background-color: #090c35;
  }

  .players_growth_title {
    display: flex;
    
    padding-top:30px;
  }

  .players_growth_title_number {
    height: 18px;
    
    font-size: 14px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color: #7155bd;
    
    margin-top:20px;
    margin-left: 20px;
    border-bottom: solid #ffffff;
  }

  .players_growth_text {
    font-size:15px;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#ffffff;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
  }

  .others {
    display: flex;
    flex-direction:column;

  }
    
   
  picture {
    margin-left: auto;
    margin-right: auto;
  } 

  .others_be_active_picture_box {
    display: flex;
    position: relative;
  }

  .others_be_active_img {
    width: 100%;
  }


  .others_be_active_box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #5e42b0;
   
    top: 82%;
    left: 6.25%;
  }

  .others_be_active_box_01 {
    font-size:14px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    text-align: center;
    color:#e7e7e7;
    
    border-bottom:solid #8f7bc8;
  }

  .others_be_active_header {
    font-size:28px;
    font-family: "OpenSans-bold";
    font-weight: bolder;
    text-transform: uppercase;
    color:#e7e7e7;
    
    padding-top:35px;
    padding-left: 20px;
  }

  .others_be_active_text {
    font-size: 16px;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 75px;
  }

  .others_find_contact_picture_box {
    display: flex;
    position: relative;

  }

  .others_find_contact_img {
    width: 100%;
  }

  .others_find_contact_box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #5e42b0;
   
    top: 82%;
    left: 6.25%;
  }

  .others_find_contact_box_01 {
    font-size:14px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    text-align: center;
    color:#e7e7e7;
    
    border-bottom:solid #8f7bc8;
  }

  .others_find_contact_header {
    font-size:28px;
    font-family: "OpenSans-bold";
    font-weight: bolder;
    text-transform: uppercase;
    color:#e7e7e7;
    
    padding-top:35px;
    padding-left: 20px;
  }

  .others_find_contact_text {
    font-size: 16px;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 75px;
  }

  .others_work_it_picture_box {
    display: flex;
    position: relative;
  }

  .others_work_it_img {
    width: 100%;
  }

  .others_work_it_box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    
    height: 70px;
    width: 70px;
    background-color: #5e42b0;
    
    top: 82%;
    left: 6.25%;
  }

  .others_work_it_box_01 {
    font-size:14px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    text-align: center;
    color:#e7e7e7;
    
    border-bottom:solid #8f7bc8;
  }

  .others_work_it_header {
    font-size:28px;
    font-family: "OpenSans-bold";
    font-weight: bolder;
    text-transform: uppercase;
    color:#e7e7e7;
    
    padding-top:35px;
    padding-left: 20px;
  }

  .others_work_it_text {
    font-size: 16px;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 75px;
  }

  .footer {
    position: relative;
    background-image: url("img/game_767.jpg");
    background-color: black;
    background-repeat: no-repeat;
  	background-position: center center;
    background-size: cover;
  }
  .footer:after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
    z-index: 1;
    
    opacity: 0.9;
  }

  .footer_app_text {
    display: flex;
    flex-direction: column;
  } 
    
  .footer_text {
    display: flex;
    flex-direction: column;
  } 
     
    
  .footer_container {
    position: relative;
    z-index:2;
    
    display:flex;
    flex-direction:column;
    
    height:566px;
    
  }

  .footer_app {
    width: 70px;
    height: 70px;
    margin-top: 95px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    background-color: #7050cc;
    border-radius:15px;
    fill:#ffffff;
  }

  .footer_text_first {
    font-size:32px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:white;
    text-align: center;
    
    margin-top:48px;
    margin-left:20px;
    margin-right: 20px;
    }
  .footer_text_second {
    font-size:14px;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:#9b8ec1;
    text-align: center;
    
    margin-top: 2px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer_app_svg {
    margin:10px;
  }

  .footer_logo {
    width: 135px;
    height: 35px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    fill:#ffffff;
   }


  .footer_button_apple {
    display: flex;
    justify-content: center;
    align-items:center;
    
    width:280px;
    height:35px;
    
    margin-top:55px;
    margin-left: auto;
    margin-right: auto;
    
    font-size:8px;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:white;
    
    background-color: #5e42b0;
    border-radius:40px;
  }

  .footer_button_logo_apple {
    width: 25px;
    height: 25px;
    fill:#ffffff;
  }

  .footer_button_text_apple {
    width:85px;
    
    margin-left: 8px;
  }

  .footer_button_google {
    display: flex;
    align-items:center;
    
    width:280px;
    height:35px;
    
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    
    font-size:8px;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:white;
    
    background-color: #5e42b0;
    border-radius:40px;
  }

  .footer_button_logo_google {
    width: 24px;
    height: 24px;
    
    margin-left:83px;
    
    fill:#ffffff;
  }

  .footer_button_text_google {
    width:65px;
    
    margin-left: 8px;
  }
  
}

@media (min-width:641px) and (max-width:960px) {
  body {
    display: flex;
    flex-direction:column;
  
    margin:auto;
    }

  .header {
    position: relative;
    z-index: 0;
    background-image: url("img/football_1280.jpg");
    background-color: black;
    background-repeat: no-repeat;
  	background-position: center center;
    background-size: cover;
  }

  .header:after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
    z-index: 1;
    
    opacity: 0.9;
  }

  .header_container {
    position: relative;
    z-index:2;
    
    display:flex;
    flex-direction:column;
    
    padding-bottom: 14.5vw;
  }


  .header_logo {
    width: 26vw;
    height: 7vw;
    margin-top: 3.9vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16vw;
    fill:#ffffff;
  }

  .header_text {  
    font-size:8.3vw;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:white;
    
    display: flex;
    flex-direction:column;
  }

  .header_text_first {
    margin-left: 13.5vw;
  }

  .header_text_second {
    margin-left: 26vw;
    margin-top: 2vw;
    text-align: left;
  }

  .buttons {
    display: flex;
    flex-direction:row;
    margin-top: 39vw;
    margin-left: auto;
    margin-right: auto;
  }
    
  .button_apple {
    display: flex;
    align-items:center;
    
    width: 40vw;
    height: 9.76vw;
    
    margin-top: 2vw;

    
    font-size: 1.8vw;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:white;
    
    background-color: #5e42b0;
    border-radius: 5.2vw;
  }

  a {
    text-decoration:none;
  }

  .button_logo_apple {
    width: 5.8vw;
    height: 5.8vw;
    margin-left: 5.2vw;
    fill:#ffffff;
  }

  .button_text_apple {
    width: 19vw;
    
    margin-left: 3.64vw;
  }

  .bold {
    font-size: 1.8vw;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:white;
  }

  .button_google {
    display: flex;
    align-items:center;
    
    width: 40.3vw;
    height: 9.76vw;
    
    margin-top: 2vw;
    margin-left: 3.9vw;

    
    font-size: 1.8vw;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:white;
    
    background-color: #5e42b0;
    border-radius: 5.2vw;
  }

  .button_logo_google {
    width: 5.8vw;
    height: 5.8vw;
    
    margin-left: 7.16vw;
    
    fill:#ffffff;
  }

  .button_text_google {
    width: 13.7vw;
    
    margin-left: 3.64vw;
  }

  .news {
    display: flex;
    flex-direction:column;
  }

  h2 {    
    font-size:9.7vw;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:#e7e7e7;
    align-items:right;
    
    margin-left: 38.5vw;
    margin-top: 9vw;
    margin-bottom:0px;
  }

  .connection {
    padding-left: 38.5vw;
    padding-bottom: 5.2vw;
    
    margin-top: 5.2vw;
  }

  .connection_title {
    display: flex;
    align-items:center;
  }

  .connection_title_number {
    height: 2.8vw;
    
    font-size: 2.34vw;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:black;
    
    margin-top: ;
    border-bottom: solid #5e42b0;
  }

  h3 {
    font-size: 4vw;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:#c1c1c1;
    margin-left: 1vw;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .connection_text {
    font-size: 2vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    margin-right: 2.6vw;
    margin-top: 2.34vw;
  }

  .collaboration {
    background-color: #f5f4f9;
    
    padding-top: 5.2vw;
    padding-left: 38.5vw;
    padding-bottom: 5.2vw;
  }

  .collaboration_title {
    display: flex;
    align-items: center;
  }

  .collaboration_title_number {
    height: 22px;
    
    font-size: 18px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:black;
    
    border-bottom: solid #5e42b0;
  }

  .collaboration_text {
    font-size: 2vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    margin-right: 2.6vw;
    margin-top: 2.3vw;
  }

  .growth {
    background-color: #5e42b0;
    
    padding-left: 38.5vw;
    padding-top: 5.2vw;
    padding-bottom: 5.2vw;
  }

  .growth_title {
    display: flex;
    align-items: center;
  }

  .growth_title_number {
    height: 22px;
    
    font-size: 18px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color: black;
    
    border-bottom: solid #ffffff;
  }

  .growth_text {
    font-size: 2vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#ffffff;
    
    margin-right: 20px;
    margin-top: 18px;
  }

  .athlets_img {
    position: absolute;
    height: 91vw;
    
    margin-top:90px;
    right: 60%;
  }

  .players_img {
    position: absolute;
    height: 73.5vw;

    margin-top:65px;
    right: 0;

  }


  .players h2 {
    margin-top: 75px;
    margin-left: 4vw;
  }

  .players_connection {    
    padding-right: 45.5vw;
    padding-top: 5.2vw;
    padding-left: 4vw;
    padding-bottom: 5.2vw;
  }

  .players_connection_title {
    display: flex;
    align-items: center;
  }

  .players_connection_title_number {
    height: 22px;
    
    font-size: 18px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:black;
    
    margin-top: px;
    border-bottom: solid #5e42b0;
  }

  .players_connection_text {
    font-size: 2vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    margin-right: 1.9vw;
    margin-top: 2.3vw;
  }

  .players_collaboration {    
    padding-right: 45.5vw;
    padding-left: 4vw;
    padding-top: 5.2vw;
    padding-bottom: 5.2vw;
    background-color: #f5f4f9;
  }

  .players_collaboration_title {
    display: flex;
    align-items:center;
  }

  .players_collaboration_title_number {
    height: 22px;
    
    font-size: 18px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:black;
    
    border-bottom: solid #5e42b0;
  }

  .players_collaboration_text {
    font-size: 2vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    margin-right: 2.6vw;
    margin-top: 2.34vw;
  }

  .players_growth {
    padding-right: 39vw;
    padding-left: 4vw;
    padding-bottom: 5.2vw;
    padding-top: 5.2vw;

    background-color: #090c35;
  }

  .players_growth_title {
    display: flex;
    align-items:center;
  }

  .players_growth_title_number {
    height: 22px;
    
    font-size: 18px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color: #7155bd;
    
    border-bottom: solid #ffffff;
  }

  .players_growth_text {
    font-size: 2vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#ffffff;
    
    margin-right: 2.6vw;
    margin-top: 2.3vw;
  }

  .others {
    display: flex;
    flex-direction:column;

  }

  picture {
    margin-left: auto;
    margin-right: auto;
  }  
    
  .others_be_active_picture_box {
    display: flex;
    position: relative;
  }

  .others_be_active_img {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }


  .others_be_active_box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    height: 15vw;
    width: 15vw;
    background-color: #5e42b0;
   
    margin-top: 65vw;
    margin-left: 3.9vw;
  }

  .others_be_active_box_01 {
    font-size:24px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    text-align: center;
    color:#e7e7e7;
    
    border-bottom:solid #8f7bc8;
  }

  .others_be_active_header {
    font-size: 10.4vw;
    font-family: "OpenSans-bold";
    font-weight: bolder;
    text-transform: uppercase;
    color:#e7e7e7;
    
    padding-top: 7.8vw;
    padding-left: 3.25vw;
  }

  .others_be_active_text {
    font-size: 3.25vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    letter-spacing:2px;
    
    padding-top: 2.6vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 9vw;
  } 
    
  .others_find_contact_picture_box {
    display: flex;
    position: relative;
  }

  .others_find_contact_img {
    width: 100%;
  }

  .others_find_contact_box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    height: 117px;
    width: 117px;
    background-color: #5e42b0;
   
    margin-top: 65%;
    margin-left: 4.5%;
  }

  .others_find_contact_box_01 {
    font-size:24px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    text-align: center;
    color:#e7e7e7;
    
    border-bottom:solid #8f7bc8;
  }

  .others_find_contact_header {
    font-size: 10vw;
    font-family: "OpenSans-bold";
    font-weight: bolder;
    text-transform: uppercase;
    color:#e7e7e7;
    
    padding-top: 4.5vw;
    padding-left: 4vw;
  }

  .others_find_contact_text {
    font-size: 3.1vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    letter-spacing:2px;
    
    padding-top: 2.6vw;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    padding-bottom: 10.5vw;
  }

  .others_work_it_picture_box {
    display: flex;
    position: relative;
  }

  .others_work_it_img {
    width: 100%
    ;
  }

  .others_work_it_box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    
    height: 15vw;
    width: 15vw;
    background-color: #5e42b0;
    
    margin-top: 65vw;
    margin-left: 3.9vw;
  }

  .others_work_it_box_01 {
    font-size:24px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    text-align: center;
    color:#e7e7e7;
    
    border-bottom:solid #8f7bc8;
  }

  .others_work_it_header {
    font-size: 10.5vw;
    font-family: "OpenSans-bold";
    font-weight: bolder;
    text-transform: uppercase;
    color:#e7e7e7;
    
    padding-top: 4.5vw;
    padding-left: 4.5vw;
  }

  .others_work_it_text {
    font-size: 3.1vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    letter-spacing:2px;
    
    padding-top: 2.6vw;
    padding-left: 4.5vw;
    padding-right: 2.6vw;
    padding-bottom: 9.7vw;
  }

  .footer {
    position: relative;
    background-image: url("img/game_1280.jpg");
    background-color: black;
    background-repeat: no-repeat;
  	background-position: center center;
    background-size: cover;
  }
  
  .footer:after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
    z-index: 1;
    
    opacity: 0.9;
  }

  .footer_app_text {
    display: flex;
    flex-direction: column;
  } 
    
  .footer_text {
    display: flex;
    flex-direction: column;
  } 
    
  .footer_container {
    position: relative;
    z-index:2;
    
    display:flex;
    flex-direction:column;
    
    height:auto;
  }

  .footer_app {
    width: 17vw;
    height: 17vw;
    margin-top: 16.6vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1.3vw;
    background-color: #7050cc;
    border-radius: 5.2vw;
    fill:#ffffff;
  }

  .footer_text_first {
    font-size:10.5vw;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:white;
    text-align: center;
    
    margin-top: 6.25vw;
    margin-left: 2.6vw;
    margin-right: 2.6vw;
    }
  
  .footer_text_second {
    font-size:4.5vw;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:#9b8ec1;
    text-align: center;
    
    margin-top: 0.6vw;
    margin-left: 2.6vw;
    margin-right: 2.6vw;
  }

  .footer_app_svg {
    margin: 1.3vw;
  }

  .footer_logo {
    width: 27.3vw;
    height: 7.16vw;
    margin-top: 6.5vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6.5vw;
    fill:#ffffff;
  }

  .footer_buttons {
    display: flex;
    flex-direction:row;
    margin-top: 35vw;
    margin-left: auto;
    margin-right: auto;
  }
    
  .footer_button_apple {
    display: flex;
    align-items:center;
    
    width: 40vw;
    height: 9.7vw;
     
    
    font-size: 1.8vw;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:white;
    
    background-color: #5e42b0;
    border-radius: 5.2vw;
  }

  .footer_button_logo_apple {
    width: 5.8vw;
    height: 5.8vw;
    margin-left: 5.2vw;
    fill:#ffffff;
  }

  .footer_button_text_apple {
    width: 19.5vw;
    
    margin-left: 3.65vw;
  }

  .footer_button_google {
    display: flex;
    align-items:center;
    
    width: 40vw;
    height: 9.7vw;
    
    margin-left: 3.9vw; 
    
    font-size: 1.8vw;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:white;
    
    background-color: #5e42b0;
    border-radius: 5.2vw;
  }

  .footer_button_logo_google {
    width: 5.8vw;
    height: 5.8vw;
    
    margin-left: 7.16vw;
    
    fill:#ffffff;
  }

  .footer_button_text_google {
    width: 13.7vw;
    
    margin-left: 3.6vw;
  }
    
}

@media (min-width:961px) {
  body {
    display: flex;
    flex-direction:column;
    
    margin:auto;
    }

  .header {
    position: relative;
    z-index: 0;
    background-image: url("img/football_1920.jpg");
    background-color: black;
    background-repeat: no-repeat;
  	background-position: center center;
    background-size: cover;
  }

  .header:after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
    z-index: 1;
    
    opacity: 0.9;
  }

  .header_container {
    position: relative;
    z-index:2;
    
    display:flex;
    flex-direction:column;
    
    padding-bottom: 5vw;
  }

  .header_logo {
    width: 10.5vw;
    height: 2.8vw;
  
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6.5vw;
    fill:#ffffff;
   }

  .header_text {  
    font-size: 4.5vw;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:white;
    
    display: flex;
    flex-direction:column;
  }

  .header_text_first {
    margin-left: 9%;
  }

  .header_text_second {
    margin-left: 33%;
    text-align: left;
  }

  .buttons {
    display: flex;
    flex-direction:row;
    margin-top: 15.6vw;
    margin-left: auto;
    margin-right: auto;
  }
    
  .button_apple {
    display: flex;
    align-items:center;
    
    width: 16vw;
    height: 4vw;
    
    margin-top: 0.7vw;
    
    font-size: 0.7vw;;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:white;
    
    background-color: #5e42b0;
    border-radius: 2vw;
  }

  a {
    text-decoration:none;
  }

  .button_logo_apple {
    width: 2.7vw;
    height: 2.7vw;
    margin-left: 2vw;
    fill:#ffffff;
  }

  .button_text_apple {
    width: 7.8vw;
    
    margin-left: 28px;
  }

  .bold {
    font-size: 0.7vw;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:white;
  }

  .button_google {
    display: flex;
    align-items:center;
    
    width: 16vw;
    height: 4vw;
    
    margin-top: 0.7vw;
    margin-left: 1.3vw;
    
    font-size: 0.7vw;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:white;
    
    background-color: #5e42b0;
    border-radius: 2vw;
  }

  .button_logo_google {
    width: 2.6vw;
    height: 2.6vw;
    
    margin-left: 2.8vw;
    
    fill:#ffffff;
  }

  .button_text_google {
    width: 7.8vw;
    
    margin-left: 1.45vw;
  }

  .news {
    display: flex;
    flex-direction:column;
  }
    
  h2 {    
    font-size:4vw;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:#e7e7e7;
    align-items:right;
    
    margin-left:50vw;
    margin-top:3.6vw;
    margin-bottom:0px;
  }

  .connection {
      padding-left: 50vw;
      padding-bottom: 2.6vw;
      padding-top: 3.1vw;
      margin-right: 10vw;
  }

  .connection_title {
    display: flex;
    align-items:center;
  }

  .connection_title_number {
    height: 28px;
    
    font-size: 18px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:black;
    
    border-bottom: solid #5e42b0;
  }

  h3 {
    font-size:1.8vw;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:#c1c1c1;
    margin-left:8px;
    margin-bottom:0px;
    margin-top: 0px;
  }

  .connection_text {
    font-size: 1vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    margin-top: 0.9vw;
  }

  .collaboration {
    background-color: #f5f4f9;
    
    padding-left: 50vw;
    padding-right: 10vw;
    padding-bottom: 2.6vw;
    padding-top: 3.1vw;
  }

  .collaboration_title {
    display: flex;
    align-items: center;
    
  }

  .collaboration_title_number {
    height: 28px;
    
    font-size: 18px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:black;
    
    border-bottom: solid #5e42b0;
  }

  .collaboration_text {
    font-size: 1vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    margin-right: 1vw;
    margin-top: 0.9vw;
  }

  .growth {
    background-color: #5e42b0;
    
    padding-left: 50vw;
    padding-right: 10vw;
    padding-bottom: 2.6vw;
    padding-top: 3.1vw;
  }

  .growth_title {
    display: flex;
    
    align-items: center;
  }

  .growth_title_number {
    height: 28px;
    
    font-size: 18px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color: black;
    
    border-bottom: solid #ffffff;
  }

  .growth_text {
    font-size: 1vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#ffffff;
    
    margin-right: 1vw;
    margin-top: 0.9vw;
  }

  .athlets_img {
    position: absolute;
    height: 47vw;
    
    margin-top: 1.3vw;
    right:55%;
  }

  .players_img {
    position: absolute;
    height: 42.4vw;
    
    margin-top: 0.8vw;
    margin-bottom: 1.7vw;
    left:43%;
  }


  .players h2 {
    margin-top: 3.64vw;
    margin-left: 10vw;
    
  }

  .players_connection {
    margin-top: 3vw;
    margin-left: 10vw;

    padding-right: 50vw;
    padding-top: 3.1vw;
    padding-bottom: 2.6vw;
  }

  .players_connection_title {
    display: flex;
    align-items: center;
  }

  .players_connection_title_number {
    height: 22px;
    
    font-size: 18px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:black;
    
    border-bottom: solid #5e42b0;
  }

  .players_connection_text {
    font-size: 1vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    letter-spacing: 2px;
    
    margin-right: 0.7vw;
    margin-top: 0.9vw;
  }

  .players_collaboration {
    
    padding-right: 50vw;
    padding-bottom: 2.6vw;
    padding-left: 10vw;
    padding-top: 3.1vw;
    
    background-color: #f5f4f9;
  }

  .players_collaboration_title {
    display: flex;
    align-items:center;
   
  }

  .players_collaboration_title_number {
    height: 22px;
    
    font-size: 18px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:black;
    
    border-bottom: solid #5e42b0;
  }

  .players_collaboration_text {
    font-size: 1vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    
    letter-spacing: 2px;
    
    margin-right: 1vw;
    margin-top: 0.9vw;
  }

  .players_growth {
    
    padding-right: 50vw;
    padding-left: 10vw;
    padding-bottom: 2.6vw;
    padding-top: 3.1vw;

    background-color: #090c35;
  }

  .players_growth_title {
    display: flex;
    align-items:center;
    
  }

  .players_growth_title_number {
    height: 22px;
    
    font-size: 18px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color: #7155bd;
    
    border-bottom: solid #ffffff;
  }

  .players_growth_text {
    font-size: 1vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#ffffff;
    
    letter-spacing: 2px;
    
    margin-right: 1vw;
    margin-top: 0.9vw;
  }

  .others {
    display: flex;
    flex-direction:column;

  }
  
  .others_be_active {
    display: flex;
    flex-direction:row;
  }
        
  .others_be_active_picture_box {
    display: flex;
    position: relative;
  }

  .others_be_active_img {
    width: 50vw;
  }

  .others_be_active_box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    height: 165px;
    width: 165px;
    background-color: #5e42b0;
   
    top: 30%;
    right: 0%;
    transform: translateX(50%);
  }

  .others_be_active_box_01 {
    font-size:24px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    text-align: center;
    color:#e7e7e7;
    
    border-bottom:solid #8f7bc8;
  }
    
  .others_be_active_header_text {
    width: 50%;
    margin-top: 13%;
  }

  .others_be_active_header {
    font-size:4vw;
    font-family: "OpenSans-bold";
    font-weight: bolder;
    text-transform: uppercase;
    color:#e7e7e7;
    
    padding-left: 125px;
  }

  .others_be_active_text {
    font-size: 1.25vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    letter-spacing:2px;
    
    padding-top: 5vw;
    padding-left: 125px;
    padding-right: 10vw;
    padding-bottom: 3.6vw;
  }

  .others_find_contact {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
    
  .others_find_contact_picture_box {
    display: flex;
    position: relative;
    
    order:3;
    width: 50vw;
  }

  .others_find_contact_img {
    width: 50vw;
    right:0;
  }

  .others_find_contact_box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    height: 165px;
    width: 165px;
    background-color: #5e42b0;
   
    top: 30%;
    left: 0%;
    transform: translateX(-50%);
  }

  .others_find_contact_box_01 {
    font-size:24px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    text-align: center;
    color:#e7e7e7;
    
    border-bottom:solid #8f7bc8;
  }

  .others_find_contact_header_text {
    width: 50vw;
    margin-top: 13%;
    padding-left: 10%;
  }
    
  .others_find_contact_header {
    font-size:4vw;
    font-family: "OpenSans-bold";
    font-weight: bolder;
    text-transform: uppercase;
    color:#e7e7e7;
    
    padding-right: 13%;
  }

  .others_find_contact_text {
    font-size: 1.25vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    letter-spacing:2px;
    
    padding-top: 5vw;
    padding-right: 70px;
    padding-bottom: 4vw;
  }

  .others_work_it {
    display: flex;
    flex-direction:row;
  }  
    
  .others_work_it_picture_box {
    display: flex;
    position: relative;
  }

  .others_work_it_img {
    width: 50vw;
    height: 100%;
  }

  .others_work_it_box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    
    height: 165px;
    width: 165px;
    background-color: #5e42b0;
   
    top: 30%;
    right: 0%;
    transform: translateX(50%);
  }

  .others_work_it_box_01 {
    font-size:24px;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    text-align: center;
    color:#e7e7e7;
    
    border-bottom:solid #8f7bc8;
  }

  .others_work_it_header_text {
    width: 50vw;
    margin-top: 13%;
  }

  .others_work_it_header {
    font-size:4vw;
    font-family: "OpenSans-bold";
    font-weight: bolder;
    text-transform: uppercase;
    color:#e7e7e7;
    
    padding-left: 125px;
  }

  .others_work_it_text {
    font-size: 1.25vw;
    font-family: "OpenSans";
    font-weight: bolder;
    color:#000000;
    letter-spacing:2px;
    
    padding-top: 5vw;
    padding-left: 125px;
    padding-right: 10vw;
    padding-bottom: 3.6vw;
  }

  .footer {
    position: relative;
    background-image: url("img/game_1280.jpg");
    background-color: black;
    background-repeat: no-repeat;
  	background-position: center center;
    background-size: cover;
  }
  
  .footer:after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
    z-index: 1;
    
    opacity: 0.9;
  }

  .footer_container {
    position: relative;
    z-index:2;
    
    display:flex;
    flex-direction:column;
    
    height:auto;
  }

  .footer_app_text {
    display: flex;
    flex-direction: row;
         
    margin-top: 11.5vw;
    margin-left: auto;
    margin-right: auto;
  }
    
  .footer_text {
    display: flex;
    flex-direction: column;
      
    line-height:4vw;
  }
    
  .footer_app {
    width: 6.7vw;
    height: 6.7vw;
    padding: 0.5vw;
    background-color: #7050cc;
    border-radius:2vw;
    fill:#ffffff;
  }

  .footer_text_first {
    font-size: 4vw;
    font-family: "OpenSans-bold";
    text-transform: uppercase;
    color:white;
    text-align: center;
    
    margin-left: 1.5vw;
    margin-right: 1vw;
  }
  
  .footer_text_second {
    font-size: 1.8vw;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:#9b8ec1;
    text-align: center;
    
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .footer_app_svg {
    margin:0.5vw;
  }

  .footer_logo {
    width: 11vw;
    height: 2.8vw;
    margin-top: 13vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.6vw;
    fill:#ffffff;
  }

  .footer_buttons {
    display: flex;
    flex-direction:row;
    margin-top: 7.8vw;
    margin-left: auto;
    margin-right: auto;
  }
    
  .footer_button_apple {
    display: flex;
    align-items:center;
    
    width: 16vw;
    height: 4vw;
    
    font-size: 0.7vw;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:white;
    
    background-color: #5e42b0;
    border-radius: 2vw;
  }

  .footer_button_logo_apple {
    width: 2.4vw;
    height: 2.4vw;

    margin-left: 2vw;
    
    fill:#ffffff;
  }

  .footer_button_text_apple {
    width: 7.8vw;
    
    margin-left: 1.5vw;
  }

  .footer_button_google {
    display: flex;
    align-items:center;
    
    width:16vw;
    height:4vw;
    
    margin-left: 1.3vw;
    margin-right: 1vw;
    
    font-size: 0.7vw;
    font-family: "OpenSans";
    text-transform: uppercase;
    color:white;
    
    background-color: #5e42b0;
    border-radius: 2vw;
  }

  .footer_button_logo_google {
    width: 2.4vw;
    height: 2.4vw;
    
    margin-left: 2.6vw;
    
    fill:#ffffff;
  }

  .footer_button_text_google {
    width: 5.5vw;
    
    margin-left: 1.5vw;
  }
    
}